<p style="color: green"><%= notice %></p>

<%= render @hrm_session %>

<div>
  <%= link_to "Edit this hrm session", edit_hrm_session_path(@hrm_session) %> |
  <%= link_to "Back to hrm sessions", hrm_sessions_path %>

  <%= button_to "Destroy this hrm session", @hrm_session, method: :delete %>
</div>
