<!DOCTYPE html>
<html>
<head>
  <title>Heart App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col">
      <%= render 'layouts/header' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <%= render 'layouts/menu' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>